site_name: Homepage
nav:
  - Home: index.md
  - Notes: 
    - Lecture Notes: 
      - STAT 541 Statistics for Leaning: 
        - Week1: notes/lecture_notes/stat541_week1.md
        - Week2: notes/lecture_notes/stat541_week2.md
    - Python: notes/naming_conventions.md 
    - Comparison Theorems in Riemann Geometry: 
      - Preliminaries to Comparison Theorems: notes/comparison_thm/preliminaries.md
      - Comparison Theorem: notes/comparison_thm/comp_thm.md
      - Comparison Theorems and Application: notes/comparison_thm/comp_thm_app.md
    - Hermitian Metric: 
      - Hermitian Metric: notes/hermitian_metric/readme.md
      - Laplacian Operator: notes/laplacian_kahler_mfd/readme.md
  - Suggestions/Tricks/Skills: 
    - Compare Credit Cards: suggestions/creditcardcomp.md
    - Acrobat 自动添加书签: suggestions/acrobatbookmark.md
    

theme:
  name: material
  icon:
    annotation: material/chevron-right-circle
  features:
    - navigation.top
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      primary: blue grey
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue grey
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.critic
  
extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

  